node_modules/
.env
.env.local
.env.*.local
*.log
.DS_Store
dist/
.nuxt/
.output/

# MySQL Data Files
mysql-data/
*.sql
*.sql.gz
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal

#outputs from tests
outputs
vendor
references/*/vendor

#no .env file
/infra/scripts/prod/app.env
/infra/scripts/test/app.env

/.topsbuild/